<div class="wrapper-content">
  <div class="box-tile">
    <p><span class="tag">#</span>&nbsp;<strong class="typing-element"></strong></p>
    <button class="btn btn-home-cadastro-clientes" (click)="gotoCadastroClientes()">Crie sua conta</button>
  </div>
  <div class="bg_img"></div>
</div>